body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #e5ddd5;
}

#app {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 30%;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  padding: 15px;
  overflow-y: auto;
}

#sidebar h2 {
  margin-top: 0;
}

#buscador {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#lista-usuarios {
  list-style: none;
  padding: 0;
}

#lista-usuarios li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#lista-usuarios li:hover {
  background-color: #e0e0e0;
}

#chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#titulo-chat {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  padding: 10px 14px;
  margin: 10px;
  border-radius: 8px;
  position: relative;
  word-wrap: break-word;
}

.user {
  background-color: #dcf8c6;
  margin-left: auto;
  align-items: flex-end;
  border-bottom-right-radius: 0;
}

.bot {
  background-color: #f1f0f0;
  margin-right: auto;
  align-items: flex-start;
  border-bottom-left-radius: 0;
}

.time {
  font-size: 0.75rem;
  color: gray;
  text-align: right;
  margin-top: 5px;
}
